div{
  padding: 5px 20px;
  background-color: lavenderblush;
  color: black;
}

h1{
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.search-sort-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchform input{
  font-size: 14px;
  width: 280px; 
  height: 25px;
  margin-top: 15px;
  border-style: double;
  border-color: lightgray;
  border-radius: 5px;
}

.searchform label{
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.sortform{
  margin-left: 600px;
}

.sortform select{
  width: 120px;
  border-color: lightgray;
  border-radius: 5px;
  height: 30px;
}

.sortform label{
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}

table {
  width: 100%;
  border-style: hidden;
  margin-top: 10px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  text-transform: capitalize;
  border-bottom: 1px solid palevioletred;
}

table th {
  background-color: #e5b7de;
}

table tr:hover {
  background-color: #f5f5f5;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination button {
  background-color: #e393d6;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #d7acd0;
}

.pagination .active button {
  background-color: #e265cd;
}
